sudo: required
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js
node_js:
- 7.7.4
before_script:
- npm install
before_install:
  - export DISPLAY=:99
  - sh -e /etc/init.d/xvfb start