div.home {
    padding-top: 120px;
}

div.waitForIt > div {
  display: inline-block;
  *display: inline;
}

div.page {
  min-height: 100vh;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
}

div.page:nth-child(odd) {
  background: #AEB4CE;
}

div.page:nth-child(even) {
  background: #DFE7FF;
}

@media screen and (max-width: 768px) {
}

h1 {
  color: #f35626;
  font-size: 8rem;
  margin: 0px
}

h2 {
  color: #d13404;
  font-size: 4rem;
  margin: 0px;
}

pre {
  font-size: 1.5rem;
  width: 90%;
}

@media screen and (max-width: 768px) {
  pre {
    font-size: 1rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }
}