div.home {
    padding-top: 120px;
}

div.waitForIt > div {
  display: inline-block;
  *display: inline;
}

div.page {
  min-height: 100vh;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
}

#scrolly-div {
  height: 50vh;
  width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

div.page:nth-child(odd) {
  background: #AEB4CE;
}

div.page:nth-child(even) {
  background: #DFE7FF;
}

div.page:nth-child(even) .page {
  background: #AEB4CE;
}

div.page:nth-child(odd) .page {
  background: #DFE7FF;
}

h1 {
  color: #f35626;
  font-size: 8rem;
  margin: 0px
}

h2 {
  color: #d13404;
  font-size: 4rem;
  margin: 0px;
}

h3 {
  color: #b01202;
  font-size: 2rem;
  margin: 0px;
}

pre {
  font-size: 1.5rem;
  width: 90%;
}

@media screen and (max-width: 768px) {
  pre {
    font-size: 1rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  #scrolly-div h1 {
    font-size: 2.5rem;
  }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}